h1 {
  font-family: "Cambria", serif;
  text-align: center;
}

h2 {
  font-family: "Cambria", serif;
  text-align: center;
}

h3 {
  font-family: "Cambria", serif;
}

h4 {
  font-family: "Cambria", serif;
}

ul {
  font-family: "Cambria", serif;
}

a {text-decoration: none;
}

h1 {
  text-transform: uppercase;
}
