<div class="about">
	<img class="about-picture" src="<%= picture %>" />
	<p class="about-message">
		<h3>Fun Facts</h3>
		<ul>
			<li>Aspiring Web Developer.</li>
	     <li>Mobile enthusiast.</li>
	     <li>Bibliophile.</li>
	     <li>Cycling fanatic.</li>
	     <li>I like ponies.</li>
	     <li>Michigan native, NYC resident.</li>
		 </ul>
	</p>
	<a class="about-link" href="www.linkedin.com/in/christophercaraway/<%= linkedin %>">LinkedIn</a>
</div>
