<div class="about">
		<h1>Stuff I've Done</h1>
	<p>
		This here page contains some work that I've gone done did.
	</p>
	<a class="projects-link" href="https://github.com/chriscaraway"<%= github %>">GitHub</a>
</div>
